# Application configuration
NODE_ENV=
PORT=
LOG_LEVEL=
CLIENT_URL=
JWT_SECRET=
JWT_ISSUER=
JWT_AUDIENCE=

# Google OAuth Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Database connection
DB_TYPE=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_URL=${DB_TYPE}://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

# Sendgrid API Key
SENDGRID_API_KEY=
SENDGRID_SENDER_EMAIL=
SENDGRID_TEMPLATE_VERIFY_EMAIL=
SENDGRID_TEMPLATE_RESET_PASSWORD_EMAIL=
SENDGRID_TEMPLATE_CHANGE_PASSWORD_EMAIL=
